*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Titillium Web", sans-serif;
  background-color: #24353F;
}
h1 {
  font-size: 50px;
  /* transition: all .5s; */
  color: #17A2B8;
  font-weight: 600;
}

/* h1::after {
  content: "";
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: -5%;
  width: 100%;
  height: 50%;
  background-color: #fec260;
  z-index: -1;
  transition: all 0.5s;
} */

input {
  background-color:#24353F !important ;
  color: #fff !important;
}

input::placeholder {
  color: gray !important;
  opacity: 1; /* Firefox */
}

input::-ms-input-placeholder { /* Edge 12 -18 */
  color: gray !important;
  
}


.mainForm .dotLine {
  width: 100%;
  height: 3px;
  border-bottom: 2px dotted #000;
}

h2 {
  font-family: "Righteous", sans-serif;

  background: -webkit-linear-gradient(#738b4c, #bdb760);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


button.btnSubmit {
  /* background-color: #d1512d; */
  transition: all 0.5s;
}

button.btnSubmit:hover {
  background-color: #17A2B8;
  color: white !important;
}


 .parent {
box-shadow:-5px 2px 54px -9px rgba(0, 0, 0, 1);
 }
 span {
  cursor: pointer;
 }